@using CarRentingSystem.Core.Models.Shipment
@model ShipmentModel
@{
    ViewBag.Title = "Edit Shipments";
}

<h2 class="text-center" style="color: yellow;">@ViewBag.Title</h2>
<hr />

<partial name="_ShipmentFormPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}