@using CarRentingSystem.Core.Models.Shipment
@model IEnumerable<ShipmentServiceModel>
@{
    ViewBag.Title = "My Shipments";
}

<h2 class="text-center" style="color: yellow;">@ViewBag.Title</h2>
<hr />

@if (Model.Any())
{
    <div class="row">
        @foreach (var Shipment in Model)
        {
            <partial name="_ShipmentPartial" model="@Shipment" />
        }
    </div>
}
else
{
    <h3 class="text-center" style="color: yellow;">You have no car or routes yet!</h3>
}