@model BecomeDriverFormModel

@{
    ViewBag.Title = "Become Driver";
}

<h2 style="background-color: #09223c; color: #ffd500;" class="text-center" >@ViewBag.Title</h2>
<hr />

@if (!ViewData.ModelState.IsValid && ViewData.ModelState["Error"] != null)
{
    <div style="background-color: #09223c; color: #ffd500;"  class="alert alert-danger" role="alert">
        @ViewData.ModelState["Error"].Errors.First().ErrorMessage
    </div>
}

<div style=" background-color: #09223c; color: #ffd500;" class="row">
    <div style=" background-color: #09223c; color: #ffd500;"  class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <div style=" background-color: #09223c; color: #ffd500;"  class="form-group">
                <label style="background-color: #09223c; color: #ffd500;" asp-for="PhoneNumber"></label>
                <input style="background-color: #09223c; color: #ffd500;" asp-for="PhoneNumber" class="form-control" placeholder="+35911111111" >
                <span  style="background-color: #09223c; color: #ffd500;small text-danger;" asp-validation-for="PhoneNumber"></span>
            </div>
            <div style="background-color: #09223c; color: #ffd500;"  class="text-center">
                <input style="background-color: #09223c; color: #ffd500;" class="btn btn-primary mt-3" type="submit" value="Save">
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial style="background-color: #09223c; color: #ffd500;"  name="_ValidationScriptsPartial" />
}