@using Microsoft.AspNetCore.Identity
@using CarRentingSystem.Infrastucture.Data
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject IDriverService driverService
@inject IUserService usersServices

<ul style="background-color: #09223c; color: #ffd500;" class="navbar-nav" >
    @if (SignInManager.IsSignedIn(User))
    {
        <li    style="background-color: #09223c; color: #ffd500;" class="nav-item" >
            <a style="background-color: #09223c; color: #ffd500;" class="nav-link asp-area="Identity" asp-page="/Account/Manage/Index"  title="Manage">Hello @User.Identity?.Name!</a>
        </li>
        <li       style="background-color: #09223c; color: #ffd500;" class="nav-item">
            <form style="background-color: #09223c; color: #ffd500;"  class="form-inline"  asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button style="background-color: #09223c; color: #ffd500;" type="submit" class="nav-link btn btn-link">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li    style="background-color: #09223c; color: #ffd500;" class="nav-item">
            <a style="background-color: #09223c; color: #ffd500;" class="nav-link  asp-area="Identity"  asp-page="/Account/Register">Register</a>
        </li>
        <li    style="background-color: #09223c; color: #ffd500;" class="nav-item"                        >
            <a style="background-color: #09223c; color: #ffd500;"  class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>