@model ShipmentFormModel

<div                      style="background-color: #09223c; color: #ffd500;" class="row">
    <div                  style="background-color: #09223c; color: #ffd500;" class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6" >
        <form method="post">
            <div          style="background-color: #09223c; color: #ffd500;" class="form-group">
                <label    style="background-color: #09223c; color: #ffd500;" asp-for="Title"></label>
                <input    style="background-color: #09223c; color: #ffd500;" asp-for="Title" class="form-control" placeholder="Title...">
                <span    style=" background-color: #09223c; color: #ffd500;" asp-validation-for="Title" class="small text-danger"></span>
            </div>
            <div          style="background-color: #09223c; color: #ffd500;" class="form-group">
                <label    style="background-color: #09223c; color: #ffd500;" asp-for="LoadingAddress"></label>
                <input    style="background-color: #09223c; color: #ffd500;" asp-for="LoadingAddress" class="form-control" placeholder="PickUpAddress..." >
                <span     style="background-color: #09223c; color: #ffd500;" asp-validation-for="LoadingAddress" class="small text-danger"></span>
            </div>
            <div          style="background-color: #09223c; color: #ffd500;" class="form-group">
                <label    style="background-color: #09223c; color: #ffd500;" asp-for="DeliveryAddress"></label>
                <input    style="background-color: #09223c; color: #ffd500;" asp-for="DeliveryAddress" class="form-control" placeholder="DeliveryAddress...">
                <span    style=" background-color: #09223c; color: #ffd500;" asp-validation-for="DeliveryAddress" class="small text-danger"></span>
            </div>
            <div          style="background-color: #09223c; color: #ffd500;" class="form-group">
                <label    style="background-color: #09223c; color: #ffd500;" asp-for="Description"></label>
                <textarea style="background-color: #09223c; color: #ffd500;" asp-for="Description" rows="4" class="form-control" placeholder="Luxury or .." ></textarea>
                <span    style=" background-color: #09223c; color: #ffd500;" asp-validation-for="Description" class="small text-danger"></span>
            </div>
            <div          style="background-color: #09223c; color: #ffd500;" class="form-group">
                <label    style="background-color: #09223c; color: #ffd500;" asp-for="ImageUrlShipmentGoogleMaps"></label>
                <input    style="background-color: #09223c; color: #ffd500;" asp-for="ImageUrlShipmentGoogleMaps" class="form-control" placeholder="Your fine.." >
                <span     style="background-color: #09223c; color: #ffd500;" asp-validation-for="ImageUrlShipmentGoogleMaps" class="small text-danger"></span>
            </div>
            <div          style="background-color: #09223c; color: #ffd500;" class="form-group">
                <label    style="background-color: #09223c; color: #ffd500;" asp-for="Price"></label>
                <input    style="background-color: #09223c; color: #ffd500;" asp-for="Price" rows="1"  class="form-control" placeholder="Price is..">
                <span     style="background-color: #09223c; color: #ffd500;" asp-validation-for="Price" class="small text-danger"></span>
            </div>

            <div          style="background-color: #09223c; color: #ffd500;" class="form-group" >
                <label    style="background-color: #09223c; color: #ffd500;" asp-for="CategoryId"></label>
                <select   style="background-color: #09223c; color: #ffd500;" asp-for="CategoryId" class="form-control" >
                    @foreach (var category in Model.ShipmentCategories)
                    {
                        <option value="@category.CategoryId">@category.Name</option>
                    }
                </select>
                <span     style="background-color: #09223c; color: #ffd500";asp-validation-for=" CategoryId" class="small text-danger" ></span>
            </div>
            <div          style="background-color: #09223c; color: #ffd500;" class="text-center" >
                <input    style="background-color: #09223c; color: #ffd500;" class="btn btn-primary mt-3" type="submit" value="Save">
            </div>
        </form>
    </div>
</div>
