@model MyShipmentsViewModel
@{
    ViewBag.Title = "My Shipments";
}

<h2 class="text-center" style="background-color: #09223c; color: #ffd500;">@ViewBag.Title</h2>
<hr />

<h4 style="background-color: #09223c; color: #ffd500;">My Added Shipments</h4>

@if (!Model.AddedShipments.Any())
{
    <h2 class="text-center" style="background-color: #09223c; color: #ffd500;">You have nothing booked yet!</h2>
}

<div class="row" style="background-color: #09223c; color: #ffd500;">

    @foreach (var shipment in Model.AddedShipments)
    {
        @await Html.PartialAsync("~/Views/Shared/_ShipmentPartial.cshtml", shipment)
    }

</div>

<h4 style="background-color: #09223c; color: #ffd500;">My Booked Shipments</h4>

@if (!Model.RentedShipments.Any())
{
    <h2 class="text-center" style="background-color: #09223c; color: #ffd500;">You have nothing booked yet!</h2>
}

<div class="row" style="background-color: #09223c; color: #ffd500;">
    @foreach (var shipment in Model.RentedShipments)
    {
        @await Html.PartialAsync("~/Views/Shared/_ShipmentPartial.cshtml", shipment)
    }
</div>