@page
@model CarRentingSystem.Areas.Identity.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Login";
}

<h1 class="text-center" style="background-color:#09223c;color:#ffd500;">@ViewData["Title"]</h1>

<div class="row" style="background-color:#09223c;color:#ffd500;">
    <div class="col-md-4 offset-md-4">
        <form method="post" asp-route-returnUrl="@Model.ReturnUrl">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" type="password" autocomplete="current-password" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <div class="form-check mb-3">
                <input asp-for="Input.RememberMe" class="form-check-input" />
                <label asp-for="Input.RememberMe" class="form-check-label"></label>
            </div>

            <button type="submit" class="btn btn-primary">Log in</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
