@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>
<div class="row" style="background-color: #09223c; color: #ffd500;">
    <div class="col-md-4" style="background-color: #09223c; color: #ffd500;">
        <section>
            <form style="background-color: #09223c; color: #ffd500;"  id="account" method="post">
                <h2>Use a local account to log in.</h2>
                <hr />
                <div style="background-color: #09223c; color: #ffd500;" -validation-summary="ModelOnly" class="text-danger"></div>
                <div style="background-color: #09223c; color: #ffd500;"  class="form-group">
                    <label style="background-color: #09223c; color: #ffd500;"  asp-for="Input.Email"></label>
                    <input style="background-color: #09223c; color: #ffd500;"  asp-for="Input.Email" class="form-control" />
                    <span  style="background-color: #09223c; color: #ffd500;" asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group" style="background-color: #09223c; color: #ffd500;">
                    <label style="background-color: #09223c; color: #ffd500;" asp-for="Input.Password"></label>
                    <input style="background-color: #09223c; color: #ffd500;" asp-for="Input.Password" class="form-control" />
                    <span  style="background-color: #09223c; color: #ffd500;" asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group" style="background-color: #09223c; color: #ffd500;">
                    <div class="checkbox" style="background-color: #09223c; color: #ffd500;">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group"   style="background-color: #09223c; color: #ffd500;">
                    <button type="submit" style="background-color: #09223c; color: #ffd500;"  class="btn btn-primary">Log in</button>
                </div>
                <div class="form-group" style="background-color: #09223c; color: #ffd500;">
                    <p>
                        <a asp-page="./Register" style="background-color: #09223c; color: #ffd500;" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div ></div>

@section Scripts {
        <partial style="background-color: #09223c; color: #ffd500;" name="_ValidationScriptsPartial" />
}