html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}


body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #09223c;
    text-decoration-color: #ffc107;
    text-emphasis-color: #ffc107;
}

