
@{
    ViewBag.Title = "Add Shipment";
}

<h2 class="text-center" style="background-color: #09223c; color: #ffd500;">@ViewBag.Title </h2>
<hr style="background-color: #09223c; color: #ffd500;" />

<partial name="ShipmentFormPartial" model="@Model" />

@section Scripts {
    <partial name="ValidationScriptsPartial" />
}
