@model ShipmentDetailsServiceModel

@{
    ViewBag.Title = "Delete Shipment";
}

<h2                   style="background-color: #09223c; color: #ffd500;" class="text-center" >@ViewBag.Title</h2>
<hr />

<form                  style="background-color: #09223c; color: #ffd500;" asp-action="Delete">
    <div               style="background-color: #09223c; color: #ffd500;" accesskey="" class="row">
        <div           style="background-color: #09223c; color: #ffd500;" class="col-md-4">
            <img class="card-img-top" src="@Model.ImageUrlShipmentGoogleMaps" alt="Shipment Image">
        </div>
        <div           style="background-color: #09223c; color: #ffd500;" class="col-md-8" >
            <div       style="background-color: #09223c; color: #ffd500;" class="form-group">
                <label style="background-color: #09223c; color: #ffd500;" asp-for="Title" class="control-label"></label>
                <input style="background-color: #09223c; color: #ffd500;" asp-for="Title" class="form-control" disabled="disabled" />
            </div>
            <div       style="background-color: #09223c; color: #ffd500;" class="form-group">
                <label style="background-color: #09223c; color: #ffd500;" asp-for="LoadingAddress" class="control-label" ></label>
                <input style="background-color: #09223c; color: #ffd500;" asp-for="LoadingAddress" class="form-control" disabled="disabled" />
            </div>
            <div       style="background-color: #09223c; color: #ffd500;" class="form-group">
                <label style="background-color: #09223c; color: #ffd500;" asp-for="DeliveryAddress" class="control-label" ></label>
                <input style="background-color: #09223c; color: #ffd500;" asp-for="DeliveryAddress" class="form-control" disabled="disabled" />
            </div>
            <div       style="background-color: #09223c; color: #ffd500;" class="form-group">
                <input style="background-color: #09223c; color: #ffd500;" type="submit" value="Delete" class="btn btn-primary"/>
            </div>
        </div>
    </div>
</form>