@model ShipmentCreateEditFormModel
@{
    ViewBag.Title = "Edit Shipments";
}

<h2 class="text-center" style="background-color: #09223c; color: #ffd500;">@ViewBag.Title</h2>
<hr />

<partial name="ShipmentFormPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}