@model IEnumerable<ShipmentServiceModel>
@{
    ViewBag.Title = "My Shipments";
}

<h2 class="text-center" style="background-color: #09223c; color: #ffd500;">@ViewBag.Title</h2>
<hr />

@if (Model.Any())
{
    <div class="row" style=" background-color: #09223c; color: #ffd500;">
        @foreach (var shipment in Model)
        {
            <partial style=" background-color: #09223c; color: #ffd500;" name="ShipmentPartial" model="@shipment" />
        }
    </div>
}
else
{
    <h3 class="text-center" style="background-color: #09223c; color: #ffd500;">You have no car or routes yet!</h3>
}