@model IEnumerable<ShipmentServiceModel>
@{
    ViewBag.Title = "My Shipments";
}

<h2 style="background-color: #09223c; color: #ffd500;"  class="text-center">@ViewBag.Title</h2>
<hr />

@if (Model.Any())
{
    <div style=" background-color: #09223c; color: #ffd500;"  class="row">
        @foreach (var shipment in Model)
        {
            <partial style=" background-color: #09223c; color: #ffd500;" name="ShipmentPartial" model="@shipment" />
        }
    </div>
}
else
{
    <h3  style="background-color: #09223c; color: #ffd500;" class="text-center">You have no car or routes yet!</h3>
}